.student-data-container {
  padding-left: 100px;
  padding-right: 100px;
}

.student-table, .student-add {
  position: relative;
  clear: both;
  border: 1px solid #dddddd;
  border-radius: 4px;
}

.student-add {
  margin-bottom: 10px;
}

  .student-add table td {
    background: white;
  }

    .student-add table td:last-child {
      vertical-align: bottom;
    }


.student-table table {
  width: 100%;
  margin-bottom: 0;
}

.student-table table thead tr{
  height: 50px;
}

.student-table table td{
  vertical-align: middle;
}

  .student-table table tr {
    height: 90px;
  }

input.ng-touched.ng-invalid {
  border: solid red 2px;
}

        input.ng-touched.ng-valid {
  border: solid green 2px;
}

.alert {
    padding: 0;
}

.alert-danger {
    position: absolute;
    background-color: transparent;
    border-color: transparent;
}

.btn {
    width: 80px;
}

input {
    width: 180px;
}

.control .input {
  width: 60px;
}

.button-group {
    width: 200px;
}

